:root {
  /* colors */
  --color-dark: #333333;
  --color-light: #ffffff;
  --color-primary: #f88f09;
  --color-primary-light: #FDF4E7;
  --color-light-secondary: #f9fafb;
  --color-secondary: #fbe8d0;
  
  --color-grey-light: #828282;
  /* fonts */
  --ff-primary: "Manrope", sans-serif;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--ff-primary);
  height: 100vh;
  overflow: hidden;
  font-weight: 550;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

/* width */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.login-wrapper {
  display: flex;
  height: 100vh;
}

.bg-wrapper {
  background-image: url("../img/bg.png");
  background-color: var(--color-dark);
  /* opacity: 0.9; */
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  flex-basis: 50%;
  background-blend-mode: multiply;
}

.gs-h2 {
  color: var(--color-light);
  width: 416px;
  margin-left: 80px;
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.gos-h3 {
  color: var(--color-dark);
  font-size: var(--font-size-h3);
  font-weight: bold;
}

.fg-ph {
  margin-left: -131px !important;
}

.password-header {
  margin-left: -150px;
  margin-bottom: 20px;
}

.gos-form-wrapper {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 0;
  margin-left: -30px;
}

.gos-logo {
  margin-bottom: 50px;
}

.gos-input-group {
  display: flex;
  flex-direction: column;
}

.gos-label {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.gos-control {
  width: 30rem;
  height: 5rem;
  padding: 1rem;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.6rem;
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
}

/* #passwordType {
    position: absolute;
} */

.gos-control:focus {
  /* border: none; */
  outline: none;
}

.gos-link {
  font-size: 1.2rem;
  float: right;
  display: block;
  margin-top: -2.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-dark);
  text-decoration: none;
}

.gos-btn {
  display: block;
  width: 30rem;
  height: 5rem;
  border: 1px solid #fff;
  border-radius: 6px;
  color: var(--color-light);
  background: var(--color-primary);
  text-transform: capitalize;
}

.show-btn {
  position: relative;
  right: -25rem;
  bottom: 4.1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-dark);
  cursor: pointer;
  text-transform: capitalize;
  width: 1rem;
}

/* navbar */
.hamburger-icon {
  display: none;
}
.gos-navbar {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
}

.gos-nav-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2rem;
}

.gos-nav__item {
  height: 5rem;
  width: 5rem;
}

.gos-nav__logo {
  width: 100%;
  height: 100%;
}

.right-nav {
  display: flex;
  align-items: center;
}

.nav-search-input {
  height: 4rem;
  width: 30rem;
  padding: 1rem;
  padding-left: 5rem;
  background: #eee;
  /* outline: navajowhite; */
  border: none;
  border-radius: 5rem;
}

.nav-search-input:focus {
  outline: none;
}

.right-nav i {
  position: relative;
  left: 3rem;
  color: #ccc;
}

.nav-dp {
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.user-dp {
  height: 100%;
  width: 100%;
  /* padding: 5px; */
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  background: var(--color-light-secondary);
  height: 10rem;
  left: -5rem;
  /* padding: 10px; */
  /* top: 28px; */
  border: 1px solid #eee;
  border-radius: 4px;
  /* overflow: auto; */
  /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--color-grey-light);
}

/* .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  } */

/* layout */

.layout__wrapper {
  display: grid;
  grid-template-columns: 25rem 1fr 6rem;
  flex: 1;
  overflow: hidden;
}

.gos-sidebar {
  background: var(--color-light);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2rem;
}

.gos-main {
  /* border: 2px solid #F88F09; */
  overflow-y: auto;
  overflow-x: hidden;
  height: 86%;
  background: #e5e5e5;
  padding: 2rem;
}

.gos-right {
  background: var(--color-light);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-icon {
  font-size: 1rem;
  border: 2px solid #7dc7fc;
  padding: 3px;
  border-bottom-right-radius: 1rem;
  color: var(--color-primary);
}

.chat-icon {
  padding: 3px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 4px;
}

.notification-icon {
  background: #7dc7fc;
  color: #fff;
  padding: 3px;
  border-radius: 4px;
}

.feed-icon {
  color: var(--color-primary);
  padding: 3px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
}

.setting-icon {
  background-color: var(--color-primary);
  color: #fff;
  padding: 3px;
  border-radius: 4px;
}

.gos-icon-span {
  margin-bottom: 2.5rem;
}

.gos-user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dp-wrapper {
  height: 8rem;
  width: 8rem;
  padding: 5px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}

.gos-username {
  font-size: 1.3rem;
  margin: 3px 0;
}

.gos-dp {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}

.gos-jobtitle {
  font-size: 1.1rem;
  color: var(--color-grey-light);
}

.gos-sidebar-container {
  margin-top: 1rem;
  /* text-align: center; */
  list-style: none;
}

.sidebar-item {
  padding: 1rem;
}

.sidebar-link {
  text-decoration: none;
  color: var(--color-dark);
}

.sidebar-link i {
  margin-right: 4rem;
  margin-left: 2rem;
}

.gos-sidebar-container li a {
  display: block;
}

.gos-sidebar-container li:hover,
.gos-sidebar-container li:active {
  background: #fbe8d0;
  border-right: 3px solid var(--color-primary);
}

/* bread crumb */

ul.gos-breadcrumb {
  padding: 1rem 1.6rem;
  list-style: none;
  /* margin-left: -15px; */
  /* background-color: #eee; */
}

ul.gos-breadcrumb li {
  display: inline;
  font-size: 1.4rem;
  /* margin-left: -15px; */
}
ul.gos-breadcrumb li a {
  text-transform: capitalize;
}

ul.gos-breadcrumb li + li:before {
  padding: 4px;
  color: black;
  content: "/\00a0";
}

ul.gos-breadcrumb li a {
  color: var(--color-dark);
  text-decoration: none;
}

ul.gos-breadcrumb li a:hover {
  color: var(--color-dark);
}

.card-mid-item {
  flex-basis: 33.3%;
}

.fb-half {
    flex-basis: 50%;
}

/* utility classes */

.dg {
  display: grid;
}

.gtc {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1rem;
}

.gtc3 {
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-gap: 1.2rem;
}

.gtc4 {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 0.5rem;
}

.df {
  display: flex;
}

.sb {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}

.gos-btn-primary {
  background: var(--color-primary);
  color: #fff;
  border: none;
  outline: none;
}

.gos-btn-primary:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-light);
  color: var(--color-primary);
}

.g-list-none {
  list-style: none;
}

.p10 {
  padding: 1rem;
}
.p15 {
  padding: 1.5rem;
}

.p5 {
  padding: 0.5rem;
}

.p20 {
  padding: 2rem;
}
.mb20 {
  margin-bottom: 2rem;
}
.mt20 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt50 {
  margin-top: 5rem;
}

.mt10 {
  margin-top: 1rem;
}
.mr3 {
  margin-right: .3rem;
}

.mr10 {
  margin-right: 1rem;
}

.mr20 {
    margin-right: 2rem;
}

.mr30 {
  margin-right: 3rem;
}

.mb5 {
  margin-bottom: .5rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.p30 {
  padding: 3rem;
}

.text-capitalise {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}
.body-text {
  font-size: 1.3rem;
}

.bold-text {
  font-weight: bold;
}
.tab-link {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.g-link {
  text-decoration: none;
  color: var(--color-dark);
}

.g-col-2 {
  flex-basis: 50%;
}

.g-col-3 {
  flex-basis: 33.3%;
}

.g-col-4 {
  flex-basis: 25%;
}

.flex-end {
  justify-content: flex-end;
}

.gos-btn-secondary {
  background: none;
  color: var(--color-primary);
  outline: none;
  border: none;
}

.g-btn {
  width: 15rem;
  /* height: 40px; */
  border-radius: 0.6rem;
  /* margin-right: 10px; */
  padding: 1rem;
  cursor: pointer;
  /* background: none; */
  border: none;
  text-transform: capitalize;
}

.g-btn-small {
  width: 10rem;
}

.g-tab-container {
  border-bottom: 1px solid #807700;
}

ul .tab-item:active a {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.g-card {
  background: var(--color-light);
  /* height: 200px; */
}

.g-card-label {
  font-size: 1.1rem;
  color: var(--color-grey-light);
  text-transform: capitalize;
}

.g-card-title {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.color-grey {
    color: var(--color-grey-light);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center
}
.p5 {
  padding: .5rem !important;
}
.pl0 {
  padding-left: 0 !important;
}

.pt10 {
  padding-top: 1rem;
}

.pb10 {
  padding-bottom: 1rem;
}

.pr10 {
  padding-right: 1rem;
}

.g-col {
  margin-top: 1rem;
}

.fw {
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.center-align {
  align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.g-control {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.g-control:focus {
  box-shadow: 0px 4px 1rem 3px rgba(0, 0, 0, 0.11);
}
.g-form-label {
  font-size: 1.3rem;
  color: var(--color-dark);
  text-transform: capitalize;
}

.g-textarea {
  height: 13.6rem;
  resize: none;
}
::placeholder {
  text-transform: capitalize;
}
.icon-container {
  padding: 2rem;
}

.icon-wrapper {
  margin-right: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.icon-wrapper:last-child {
  margin-right: 0;
}

.g-icons {
  height: 100%;
  width: 100%;
  /* filter: invert(64%) sepia(40%) saturate(4176%) hue-rotate(359deg)
    brightness(101%) contrast(95%); */
}

.img-container {
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--color-primary);
  padding: 5px;
  border-radius: 5rem;
}

.icon_wrapper {
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--color-primary);
  padding: 5px;
  border-radius: 5rem;
  text-align: center;
}

.icon_wrapper::after {
  position: relative;
  content: "";
  width: 9rem;
  display: block;
  height: 1px;
  background-color: #eee;
  top: -2.1rem;
  left: 3.4rem;
}

.icon_wrapper i {
  color: var(--color-primary);
}

.icon-link {
  text-align: center;
  flex-basis: 20%;
}


/* .img-container:after {
  position: relative;
  content: "";
  width: 8rem;
  display: block;
  height: 1px;
  background-color: #eee;
  top: -2.1rem;
  left: 3.4rem;
} */

.icon-wrapper:last-child .icon_wrapper:after {
  display: none;
}

.icon-wrapper:last-child .img-container:after {
  display: none;
}

.g-label {
  font-size: 1rem;
  color: var(--color-grey-light);
  margin-top: 0.8rem;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .login-wrapper {
    flex-direction: column;
  }
  .gos-form-wrapper {
    padding: 1rem 2rem;
    margin-left: 0;
  }
  /* .hamburger-icon {
        display: block;
    }
    .gos-navbar {
        padding-left: 20px;
    }
    .g-sidebar {
        display: none;
    }
    .gos-right {
        display: none;
    }
    .layout__wrapper {
        display: block;
    }

    .gos-main {
        width: 100%;
        height: 100%;
    } */
}

.g-sidebar {
  width: 25rem;
  height: 100vh;
  color: var(--color-dark);
  overflow: hidden;
  overflow-y: auto;
  font-size: 13px;
}

.g-sidebar .logo {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 2rem;
}

.g-sidebar .g-menu {
  list-style: none;
  padding: 2rem;
  /* color: #eee; */
}

.g-sidebar .g-menu > li > a {
  display: flex;
  padding: 1rem 0;
  cursor: pointer;
  align-items: center;
}

.g-sidebar .g-menu .with-submenu {
  cursor: pointer;
}

.g-sidebar .g-menu .with-submenu > a {
  position: relative;
}

.g-sidebar .g-menu .with-submenu > a .indicator {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.g-sidebar .g-menu .with-submenu > a {
  pointer-events: none;
}

.g-sidebar .g-menu .submenu {
  /* background: rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  display: block;
  list-style: none;
  padding-left: 1.3rem;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  height: 0;
}

.g-sidebar .g-menu .submenu > li a {
  display: flex;
  padding: 1rem 0;
  cursor: pointer;
}

.nav-icon {
  margin-right: 2rem;
}

.g_icon {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.g_icon i {
  color: var(--color-primary);
}

.g_icon:hover {
  background: var(--color-primary);
}

.g_icon:hover i {
  color: var(--color-light);
}

.hint {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */

.hint .hint-text {
  visibility: hidden;
  min-width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -6rem;
  margin-bottom: 5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
}

/* Show the tooltip text when you mouse over the tooltip container */

.hint:hover .hint-text {
  visibility: visible;
}

.company-name {
  text-transform: capitalize;
}

.feedback-btn {
  width: 15rem !important;
}
.g-table {
  width: 100%;
  font-size: 1.3rem;
  /* padding: .5rem; */
}

.g-table-header {
  text-align: left;
  text-transform: capitalize;
  color: var(--color-grey-light);
}
.g-table-row {
    text-transform: capitalize;
    padding: .5rem;
    text-align: left;
    /* border-right: 1px solid #eee; */
}
.td-comment {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-wrapper {
    height: 100px;
    width: 100px;
    border: 1px solid var(--color-grey-light);
    border-radius: 50px;
    padding: 1rem;

}

.img-wrapper img {
    height: 100%;
    width: 100%;
}

.emp-details {
    text-transform: capitalize;
}

.emp-name {
    font-size: 1.4rem;
    font-weight: bold;
}
.emp-position {
    text-transform: capitalize;
    color: var(--color-grey-light);
    font-size: 1.2rem;
    margin-left: .5rem;
}

.emp-comp {
    text-transform: capitalize;
    color: var(--color-grey-light);
    font-size: 1.4rem;
}

/* learning and development start*/

.content {
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
  }
  .heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
  }
  
  .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  
  .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: auto !important;
    min-height: 37rem;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  
  .front,
  .back {
    /* display: flex; */
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    /* text-align: center;
    justify-content: center; */
    /* align-items: center; */
    position: absolute;
    height: auto !important;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
  
  .front {
    background-size: cover;
    /* padding: 2rem; */
    /* font-size: 1.618rem; */
    font-weight: 600;
    /* color: #fff; */
    overflow: hidden;
    background: var(--color-light);
  }
  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-light);
    /* opacity: 0.25; */
    z-index: -1;
  }
  .card:hover .front {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }
  
  .back {
    background: #fff;
    transform: rotateY(-180deg);
    height: auto !important;
    /* min-height: 45rem; */
    /* padding: 0 2em; */
  }

  .card:hover .back {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  
 

  .card-img-wrapper {
    width: 30.8rem;
    height: 15.4rem;
  }

  .card-img-wrapper img {
      height: 100%;
      width: 100%;
  }

  .skill {
    min-width: 8rem;
    background: rgba(34, 20, 0, 0.1);;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.3rem;
    color: var(--color-grey);
  }

  .card-course-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  .card-course-author {
    color: var(--color-grey-light);
    font-size: 1.4rem;
    text-transform: capitalize
  }
  .card-course-price {
      color: var(--color-primary);
      font-size: 1.6rem;
  }
.course-details {
    font-size: 1.1rem;
    /* line-height: 2.2rem; */
}
  .explore-btn {
      width: 100% !important;
  }

  .course-details-text {
      font-size: 1.3rem;
      text-transform: capitalize;
  }

  .details-list {
    padding: 0 1.5rem;
  }

  .dev-table {
    border-collapse: collapse;
  }

  .dev-table th, .dev-table td {
    border: 1px solid #bbb;
    padding: .8rem;
  }

.skill-col {
  width: 30%;
}
.score-col {
  width: 20%;
}
.training-col {
  width: 40%;
}
.training-link {
  color: var(--color-primary);
  font-size: 1.3rem;
}

.training-img-wrapper {
  /* height: 100%; */
  width: 100%;
}
.training-img-wrapper img {
  width: 100%;
  height: 100%;
}
.venue {
  color: var(--color-primary);
}
.checked {
  color: orange;
}
.course-title {
  font-size: 1.5rem;
}
.training-details {
  font-size: 1.3rem;
}
/* learning and development end */

/* project management starts */

.overtime {
  background: rgba(248, 143, 9, 0.1);
  color: var(--color-primary);
  /* width: 10rem; */
}

/* project management ends */

/* dashboard starts  */

.dash-card {
  background: var(--color-light);
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: .4rem;
}

.dash-card:hover {
  background: var(--color-primary-light);
}

.dash-left {
  flex-basis: 65%;
}

.emp-dash-card {
  background-color: var(--color-light-secondary);
  border-radius: .4rem;
}
.perf-wrapper {
  height: 30rem;
}
.dash-right {
  flex-basis: 35%;
}
.dash-head {
  font-size: 1.4rem;
}
.dash-link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.3rem;
}

.mid-card {
  height: 20rem;
  /* border: 1px solid red; */
  flex-basis: 33.3%;
}

.reward-btn {
  width: 7rem;
  padding: .5rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: 1px solid var(--color-primary);
  border-radius: .4rem;
  text-transform: capitalize;
}

.reward-btn:hover {
  background: var(--color-light);
  color: var(--color-primary);
}

.dash-events {
  background: var(--color-light);
  padding: 10px;
  font-size: 1.3rem;
}

.event-label {
  color: var(--color-grey-light);
}

/* dashboard ends */